h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
body {
    background-color: #303030;
}

ul {

   text-align: center;
}
h5 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: smaller;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
}

ul li{
    display: inline-block;
}

h2 {
    color: white;
    font-weight: 500;
    text-align: center;
}

h6 {
    font-size: small;
}
h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
body {
    background-color: #303030;
    margin: 0;
    padding: 0;
    background: #303030;
}

ul {

   text-align: center;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: xx-large;
    color: #303030;
}

ul li{
    display: inline-block;
}

h2 {
    color: white;
    font-weight: 500;
    text-align: center;
}

.slide {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: slide 21s infinite;
    overflow: hidden;
}

.slide:nth-child(1) {
    left: 0%;
    animation-delay: -0.5s;
    background-image: url(../images/slide1.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2) {
    left: 100%;
    animation-delay: 6.5s;
    background-image: url(../images/slide2.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3) {
    left: 100%;
    animation-delay: 13.5s;
    background-image: url(../images/slide3.jpg);
    background-size: cover;
    background-position: center;
}

.malli1 {
    height: 20vh;

}

.malli2 {
    height: 20vh;
}

.malli3 {
    height: 20vh;
}
.malli4 {
    height: 20vh;
}
p {
    color: #adadad;
}

a {
    color: white;
}

u {
    color: #adadad;
}

h6{
    color: white;
    font-size: large;
}
h3{
    color: white;
}
h4 {
    color: white;
    font-size: medium;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 1920px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  
  *{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: tahoma;
    font-size: 17px;
}

.container{
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.button{
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 599;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
}

.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0,0.80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 0.74s ease-in-out;
} 

.popup-inner{
    position: relative;
    bottom: -100vh;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 599px;
    width: 599;
    background-color: white;
    transform: rotate(32deg);
    transform: 0.74s ease-in-out;
}

.popup-photo{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.popup-photo img{
    width: auto;
    height: 100%;
}

.popup-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 59%;
    height: 100%;
    padding: 4rem;
}

.popup-text p{

    font-size: 0.875rem;
    color: black;
    line-height: 1.5;
}

.popup:target{
    visibility: visible;
    opacity: 1;

}
.popup:target .popup-inner{
    bottom: 0;
    right: 0;
    transform: rotate(0);
}

.popup.close{
    position: flex;
    right: 100rem;
    top: 100rem;
    width: 100rem;
    height: 100rem;
    font-size: 0.875rem;
    font-size: 50;
    border-radius: 100%;
    background-color: black;
    z-index: 4;
    color: black;
    line-height: 234243rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

